[2019-12-20 15:08] FriendsOfGalaxy opened #1 "FOG Fork Autoupdate Request"
Hi.

We would like to fork your repo and keep track based on the work being done here, if you agree.

This is because we have no time to keep developing the integration on our side and you've solved some build issues itself. It's also beneficial that your repo is not a fork, as we can sync it using our fork-updater like for example https://github.com/FriendsOfGalaxy/galaxy-integration-rockstar

Th

[2019-12-20 15:28] bartok765 commented on #1
Oh, I see. Does it mean that I have to maintain all the stuff currently kept in your repo? I can't promise I will be able to fix current issues, but if that helps I can try. Or at least accept PRs from time to time. Is it enough? And what will happen with https://github.com/FriendsOfGalaxy/galaxy-integration-battlenet?

[2019-12-20 15:49] FriendsOfGalaxy commented on #1
yes, it's perfectly fine. We will review the code while syncing on any change from `fog-release` branch

Also - please do not change guid - will be easier to switch for current plugin users.

[2019-12-20 16:52] bartok765 commented on #1
Ok, guid reversed

[2019-12-23 12:30] #1 closed

[2020-01-08 00:59] BanCrash opened #2 "Warcraft 3 standard doesn't appear, Frozen throne yes though"
Hello! I have both Warcraft 3 Reign of Chaos and The Frozen Throne buyed as classical games, and both appears on my Blizzard account, but on gog galaxy only The Frozen Throne is detected. Both games are uninstalled.

Shouldn't both games be detected instead only The Frozen Throne?

I don't know If I have to put some more information, Here I let the log.

[plugin-battlenet-ba170431-0649-482f-863b-d

[2020-01-08 21:59] valentinistrate opened #3 "Plugin keeps crashing with not responding"
About 3 days ago, the Battle.net plugin started crashing immediately after startup. The message "Connecting..." appears for a little while, followed by "Not responding" and "Plugin has crashed Retry".

I tried disconnecting and reconnecting my Battle.net account, I even tried removing the FriendsOfGalaxy application from my Battle.net account and readded it through the plugin login process, but wi

[2020-01-14 14:27] bartok765 commented on #3
Hey, I'm sorry for late response. 7 days ago there were broken release deployed for about 2 hours. But this should crash immediately.

Is it sill hanging? Can you check how much CPU plugin takes that time? Can you paste whole log? (don't worry, token from first line is not user secret it is logged in every plugin)
my params={'stored_credentials': ''} when I'm logged looks like: params={'stored_cre

[2020-01-14 14:42] valentinistrate commented on #3
I deleted the plugin again, I let GOG download it again and now it seems to be working.

[2020-01-14 14:42] #3 closed

[2020-01-31 04:04] wordlesswind opened #4 "Support Blizzard CN"
Blizzard CN account is separate from the Blizzard Global account.

https://develop.battle.net/documentation/guides/using-oauth

| Region | Authorize URI | Token URI |
| :--------: | :---------------: | :-----------: |
| US, EU, APAC | https://`{region}`.battle.net/oauth/authorize | https://`{region}`.battle.net/oauth/token |
| CN | https://www.battlenet.com.cn/oauth/authorize | https://www.battlen

[2020-02-01 15:31] valentinistrate opened #5 "WarCraft III Reforged doesn't appear as playable"
I recently installed WarCraft 3 Reforged on my computer. Although the game gets detected as owned by GOG Battle.net integration, I only see the Install button, not the Play option. However, the Play button appears on WarCraft III The Frozen Throne, although the classic version is not installed. Neither button does anything.

Maybe it's worth mentioning that I have the new beta version of Battle.ne

[2020-02-03 09:16] bartok765 commented on #4
Hello. @wordlesswind I wish to do it some day, at adjust existing one for automatic detect local server destination to switch to CN auth. I have no much time lastly so I can't promise I'll do this.
I'll look at this, it only auth is different it shouldn't be difficult

[2020-02-03 12:34] wordlesswind commented on #4
Ok, thank you!
But I don't suggest you do this.

Because as I said before, Blizzard CN has released a few games. But not all.
So if we want to play Call of Duty®: Modern Warfare, we have to log in to Blizzard Global.

And Blizzard CN is independent.
We must re-register for a Blizzard Global account.
So I think creating a `galaxy_blizzardcn_plugin` is a feasible solution.
This way you don't need to

[2020-02-17 14:24] a358003542 commented on #4
I have done some work  and create this repo, and have checkd myself that it can detect the games and show the info. please check it. https://github.com/a358003542/galaxy_blizzard_cn_plugin

[2020-02-28 11:05] bartok765 commented on #4
@a358003542 awesome job!

Reading the code I think it does not differ drastically, there could be one universal plugin. I have a few more comments, doubts and ideas, but I it would be easier to comment on pull request.  Are you interested in creating pull request with common version?

[2020-02-28 12:21] a358003542 commented on #4
@bartok765 I am not sure whether there is a need to create a common version for all the region. because user thought to be understood which battlenet region i am use and i need to install which galaxy plugin.

So as @wordlesswind said that create a branch is a neat solution for this situation. I can push a branch PR for that.

[2020-03-01 00:20] saitho opened #6 "Feature request: Playtime for Overwatch"
I'd like to see my Overwatch playtime in the Galaxy Launcher.

The playtime can be grabbed from the official Overwatch player profiles or a fanmade API.
Playtime is divided into quick play and ranked play - and have to be added to get a total play time.

## Official player profiles

URL: https://playoverwatch.com/en-us/career/pc/[username]-[number]

_Example: https://playoverwatch.com/en-us/career

[2020-03-05 14:37] bartok765 commented on #4
@a358003542 this repo is synced by @FriendsOfGalaxy. And their fork is shown in Galaxy search.

IMO it would be highly profitable to make this changes public for all users, not only those few that will find this repository and are able to use git.

[2020-03-05 23:03] saitho opened #8 "Adding achievements [blocked by missing GOG data]"
Showing achievements in GOG Galaxy 2.0 for Blizzard games would be nice.
However this is currently limited to games which already have achievement data in the game properties that GOG Galaxy uses.

We currently have no way to add achievements by ourselves. We're bound to GOG adding the achievements for the games, before we can show them via the Blizzard integration (see Issue gogcom/galaxy-integra

[2020-03-06 14:20] Alexis67330 commented on #5
Hello, i have same issu with warcraft 3 reforged

[2020-03-06 16:12] Mixaill commented on #8
@friendsofgalaxy

[2020-03-06 16:13] Mixaill commented on #8
@saitho https://github.com/Mixaill/galaxy-integration-gw2/issues/4#issuecomment-541588150

[2020-03-06 19:49] saitho commented on #8
Thanks! Contacted them on how we go about this. :)

[2020-03-07 10:06] a358003542 commented on #4
@bartok765 I have done some modification work on this demand. please check the pull request #9.

There is still a strange problem, the guid value in the manifest.json seems have strange effection on the gog galaxy client , which specifically shoule be on the `Authentication(self.user_details["id"], battletag)`  function , I still can not figure out why.

[2020-03-09 16:16] saitho commented on #8
I've talked to them. I wrote [a little script](https://github.com/saitho/galaxy_overwatch_achievement_exporter) for exporting the achievements from the website into a JSON file. This file was passed to GOG so they can add them into their database. The script is written in Python and will also be used to fetch the achievements a user has unlocked. ;)

[2020-03-14 20:26] a358003542 opened #12 "Need _psutil_windows.cp37-win32.pyd file to make the plugin work right."
I have tested on my machine , sure about the fact that need additional _psutil_windows.cp37-win32.pyd file to make the plugin work right.

[code]
Personal guess this problem only occurred on windows, and it is not the plugin itself problem, But if whose user install the plugin from source and his python version is 64 bits would cause this issue.

[2020-03-15 19:41] saitho commented on #12
Can't confirm that issue. I am running a 64bit Windows 10 but using a 32bit Python, so I might now run into this issue. ;) But I guess that change makes sense?

[2020-03-16 08:06] bartok765 commented on #12
@a358003542 can you retest now?

[2020-03-16 08:36] #6 closed

[2020-03-17 20:06] a358003542 commented on #12
@bartok765 Yes, the #13 has fixed this problem, this issue should be  closed now.

[2020-03-18 10:32] #12 closed

[2020-03-20 15:38] FriendsOfGalaxy opened #15 "China diablo3 fails to install"
**Describe the bug**
Regarding to 1.1.0 update, almost everything work fine but I found an issue with diablo3.
Probably because of unknown id for `d3cn`. Someone from China that have d3cn has to check result of his `backend_client.get_owned_games()` to find this unknown id.

**To Reproduce**
1. Log in with china account that have no diablo3 installed on local computer
2. Click Install
3. See this

[2020-03-20 17:52] bartok765 commented on #15
@a358003542 can you help? :)

[2020-03-21 11:57] lackovic opened #16 "How to uninstall"
Can you add to the README the instructions on how uninstall this plugin?

[2020-03-21 14:06] a358003542 commented on #15
@bartok765  That is because of d3cn has a unknown blizzard_id :

[code]
 I know d3cn blizzard id is also same as diablo3 to 17459,  so it is conflict with the diablo3 , How to handle this problem need more discuss.

[2020-03-23 09:58] #16 closed

[2020-03-23 10:00] bartok765 commented on #16
yes, please. I suppose you wanted to remove all the data from Galaxy not only to stop local process.

I you want to keep games as owned, but do not wish to see running plugin process, kill the process manually and then remove plugin local database at
`C:\ProgramData\GOG.com\Galaxy\storage\plugins`

[2020-03-23 10:04] bartok765 commented on #15
Do you mean it conflics technically when accessing Blizzard instance? Then key access `Blizzard[id] ` cannot rely on this kind of id

[2020-03-23 14:33] a358003542 commented on #15
@bartok765 the program need to found the uid based on the id which in the install case is the blizzard_id of 17459. but there have two 17459 id, seems like there need a region judgement.

[2020-03-23 16:01] bartok765 commented on #15
Ah, your right. But at this point we authentication should be already performed, so we don't need guess for region - returned cookies knows true. We can store this in persistent cache maybe

[2020-03-24 06:53] lackovic commented on #16
Is this the same plugin that can be installed through Galaxy user interface?

![2020-03-24_084818](https://user-images.githubusercontent.com/1663053/77396595-b9f70e80-6dac-11ea-93d7-855cc23f342d.png)

If yes, it may be useful to mention that in the README too.

[2020-03-24 10:25] bartok765 commented on #16
No exactly. I've updated README.md to explain. Also see #1

[2020-03-26 02:43] a358003542 commented on #15
@bartok765 good advice. make fix this issue simpler.  please review the pull requrests #19 .

[2020-04-10 17:54] BanCrash commented on #2
With the Pull Request I made this issue is fixed now.

[2020-04-14 12:38] #2 closed

[2020-04-29 09:33] robertkoch13 commented on #5
I have the same issue with Warcraft 3.   My other Battle.net games show correctly (Starcraft 1 and 2 and Diablo 3)

[2020-04-30 01:18] Gelean commented on #5
I dug into this a little bit today and here's what I found:

If you have Warcraft III: Reign of Chaos (ROC) and Warcraft III: The Frozen Throne (TFT) in your Battle.net library, you will have three entries in GOG Galaxy 2.0 when you install the Battle.net integration (note that you need the latest code in this repo to make ROC appear correctly, the latest code hasn't made it into the official GOG

[2020-05-06 08:45] bartok765 commented on #5
@Gelean thanks for investigation!
It would be nice to see log files for those install/launch failures:

Currently I'm working (at least one evening in 2 weeks..) on definitions and owned games refactor. When done, I'll take a closed look into this issue.

[2020-05-06 16:36] Gelean commented on #5
@bartok765 You are very welcome! Sure thing. I'm not too familiar with the GOG launcher's layout. I tried looking for a debug or logs folder in the main folder, but didn't see anything. If you could point me to where the debug logs are I can look for those.

[2020-05-10 19:30] bartok765 commented on #5
Hey, logs are located usually in:
`C:\ProgramData\GOG.com\Galaxy\logs\`. Name "plugin_blizzard_xxxxxx" - you will see. They are rolled to .1 .2 .3. The most fresh is with "log" extension. Before sending, please reproduce those install steps - may be helpful :)

[2020-05-12 18:53] Gelean commented on #5
Since the install is a little big (26 GB) I decided to fudge things a bit. I dragged the Warcraft III folder out of where it's installed to simulate it not being there. I found the following:

Launch GOG Galaxy 2.0

Before the games are installed:

Go to Warcraft 3 Reforged -> Click Install

[code]

Go to ROC page -> Click Install

[code]

Go to TFT page -> Click Install

[code]

After installatio

[2020-05-12 18:56] Gelean commented on #5
![Warcraft III folder](https://user-images.githubusercontent.com/1185498/81733894-8dc04b80-9447-11ea-93b3-eedf89e5de84.PNG)

[2020-06-02 21:23] saitho opened #21 "Overwatch Game time not being tracked?"
There are several issues on the GOG issue tracker that reported game time tracking was not working.

* [Overwatch PC gametime doesnt show](https://mantis2.gog.com/view.php?id=52577)
* [GOG 2.0 won't count Overwatch's hours played](https://mantis2.gog.com/view.php?id=55595)
* [Battle .net game time not tracked](https://mantis2.gog.com/view.php?id=51011)
* Partly: [osu overwatch](https://mantis2.gog

[2020-06-10 11:33] bartok765 commented on #21
55595 - probably problem with competive as you said. Maybe there is a way to get from current season, then save locally to be able to sum it later..?

[2020-06-10 22:31] bartok765 opened #24 "Partner games not showing"
The API (https://account.blizzard.com/api/games-and-subs) has stopped reporting partner games like CoD. We have to find alternative solution to report all owned games.

One idea is to rely on https://account.blizzard.com/api/transactions

In worst case scenario we can base on local client.

[2020-06-13 10:59] yoshimo opened #25 ""play" does not differenciate between live/test realms"
**Describe the bug**
While you make a difference between World of Wacraft and WoW Classic,
there is no way to switch between live/ptr/beta realms before you hit play

**Expected behavior**
Have a small menu where you can set a default  realm and switch between them before starting the game.

[2020-06-13 11:03] yoshimo opened #26 "Missing Account Switcher"
**Describe the bug**
Hitting play just defaults to whatever SubAccount of the Battle.net Account you where signed in for the game (WoW being the example here).

**Expected behavior**
Kind of recreate this
![grafik](https://user-images.githubusercontent.com/17909/84567025-34b14380-ad76-11ea-9ef4-e083a5ff3e16.png)

[2020-06-13 11:04] yoshimo commented on #25
![grafik](https://user-images.githubusercontent.com/17909/84567044-56aac600-ad76-11ea-9d6c-6255cf142714.png)

[2020-06-13 11:21] yoshimo opened #27 "Starcraft marked "Remastered" although offered in game as "can be purchased""
**Describe the bug**
Inside Starcraft it looks like this

![grafik](https://user-images.githubusercontent.com/17909/84567385-aa1e1380-ad78-11ea-8e1b-cd9fd4a57864.png)

The official launcher says:
![grafik](https://user-images.githubusercontent.com/17909/84567300-0cc2df80-ad78-11ea-97e6-ba7fbb29a1b5.png)

GoG marks this as:

![grafik](https://user-images.githubusercontent.com/17909/84567333-4398f58

[2020-06-13 11:50] yoshimo opened #28 "Chat with Friends/Guild is missing"
**Describe the bug**
We can't talk to people from our battle net friendlist and not with our guilds although the smartphone app and desktop app support it

**Expected behavior**
See other peoples online status, what they are playing, chars they might use and get into the wow guild chat.

The question is, can we do that ? Since there is no official api, one would have to unpin the application traff

[2020-06-14 17:16] yoshimo opened #29 "Destiny 2 can't be installed"
**Describe the bug**
GoG shows Destiny2 being available from both Steam and Bnet.
If you hit install in the gog section, bnet starts up and complains about not being able to install the game at this moment. I doubt the reccomended bnet launcher update will fix this anytime soon as it isn't even shown as a partner game.

A clear and concise description of what you expected to happen.
Not offer the

[2020-06-15 08:18] #15 closed

[2020-06-15 08:34] bartok765 commented on #26
This needs change in GOG Galaxy and API as plugins do not have own UI. I hope they provide way to launch the same game in different ways.

See this:
https://github.com/gogcom/galaxy-integrations-python-api/issues/9

Then - research if it this is possible to run different game version from using command line args.
Currently plugin calls `<path_to_battlenet_exe> --exec="launch WOW"` that calls defau

[2020-06-15 08:52] bartok765 commented on #25
Hi,
Is it possible to create desktop shortcuts for PRT and not PRT? If yes, can tell me what you see on right-click this desktop shortcut in "properties"?

Alternatively what about just displaying battlenet on WoW page? I would like to avoid adding custom GUIs or config files.

[2020-06-15 09:04] bartok765 commented on #25
As far as WoW Classic is concerned see https://github.com/FriendsOfGalaxy/galaxy-integration-battlenet/issues/12

[2020-06-15 09:09] bartok765 commented on #29
Hmm, can you login into https://www.blizzard.com/ and then go to
https://account.blizzard.com/api/games-and-subs
and tell me which games you see there with which `title_id`?

Looks contrary to #24

Nevertheless I think we can remove Destiny2 definition from plugin

[2020-06-15 09:16] bartok765 commented on #27
Looks impossible now: https://github.com/FriendsOfGalaxy/galaxy-integration-battlenet/issues/7

Need research, maybe listening Battlenet client or starcraft itself with Fiddler or stuff like that to discover endpoints that distinguish wheater you have remastered or now.

Then plugin may send to Galaxy 2 separate ids for those games.

[2020-06-15 09:18] bartok765 commented on #28
Hi, yes. There was some work on XMPP with previous authors of the plugin. There are even some proto files inside this repo. Currenlty I have no time to dig into this unfortunately, but feel free to try:)

The only feature that uses XMPP was friends list, see this: https://github.com/FriendsOfGalaxy/galaxy-integration-battlenet/issues/32
there is the code on that repo - maybe it works again?

Secon

[2020-06-15 09:28] #29 closed

[2020-06-15 09:46] elkangaroo commented on #25
I found this battlenet wrapper: https://github.com/dafzor/bnetlauncher
They state "wowptr", "d3ptr" and "owptr". I have no PTR installed, maybe someone can test if those work in exec="launch ..."?

[2020-06-15 09:55] bartok765 commented on #26
Actually I think we should make transition from battlenet cmd line arguments to direct game exe arguments like it is done in desktop shortcuts created via battlenet for example:

`"C:\Games\World of Warcraft\World of Warcraft Launcher.exe" --productcode=wow_classic`

[2020-06-15 10:28] yoshimo commented on #29
we have

        "titleId": 1146311730,
        "localizedGameName": "Destiny 2",

        "titleId": 22323,
        "localizedGameName": "Warcraft III: Reforged",

        "titleId": 21297,
        "localizedGameName": "StarCraft® Remastered",

        "titleId": 21298,
        "localizedGameName": "StarCraft® II: Heart of the Swarm®",

        "titleId": 5272175,
        "localizedGameName": "Ov

[2020-06-15 14:35] bartok765 commented on #25
https://github.com/dafzor/bnetlauncher/blob/178c656417f5b3c4a79fe15983dd1368d0671a12/bnetlauncher/Resources/gamesdb.ini

according to above for wow cmd is "wowt" so
`"Blizzard_location_path" --exec="launch wowt"`

[2020-06-17 08:47] elkangaroo commented on #28
@bartok765 I started digging into the old implementation of friends list and worked on it a couple of weeks (months?) ago, but did not have the time to continue lately. I started researching some more yesterday and will work on it again in the next couple of days.

I pushed my WIP at https://github.com/elkangaroo/galaxy_blizzard_plugin/tree/feature/friends_presence

_Status Quo in my branch_ is:
-

[2020-06-17 09:50] yoshimo commented on #28
@elkangaroo may i ask you how you did it? The official apps do not like being spied upon and would need extra convincing to spill the tls keys.

[2020-06-18 19:12] elkangaroo commented on #28
@yoshimo Thankfully, the reverse engineering of the protocol has been done by other folks. I think a alot has been done over at [HearthSim](https://github.com/HearthSim/), that is also where the protobuf files originate [(hsproto)](https://github.com/HearthSim/hsproto/tree/proto2/proto/bnet).
I also found this [battlenet plugin for libpurple](https://bitbucket.org/EionRobb/purple-battlenet/src/def

[2020-06-22 14:38] bartok765 commented on #29
@yoshimo

hmm, good point. But I'm not sure if `lastPlayedDateMillis` or `gameTimeView` works at all. I have `null` in all my games. Have you played Destiny or have not `null` for any game there?

[2020-06-22 21:03] BanCrash opened #31 "Warcraft III Reforged appear as owned but I don't have it."
Hello! After installing Warcraft 3 classical (wich goes within battle.net now) GOG says that I have owned Warcraft III Reforged, but I only have classical version.

[2020-06-24 13:54] xxcbzxx opened #32 "Battle.Net Integration and Game Launching"
When integrated via GoG2.0 Integration, and launching the game from the list, i.e Modern Warfare, its loads up Battle.Net Launcher, signing out my original default and uses me to sign in back from the connection in GoG, and it does not launch the game. I've tried to add a custom path to the executable, but still, when clicking on "Play" its loads up the Launcher, would be nice to direct the defaul

[2020-07-03 16:55] bartok765 commented on #32
ou, that is strange. Could you record a move? For me it just launches the games, but not tested with CoDMW

[2020-07-03 16:57] bartok765 commented on #28
@elkangaroo can you create PR for this? I have no time for testing it by my own, but I'm pinning this issue to be more visible by community

[2020-07-07 11:58] FriendsOfGalaxy commented on #21
Hello, maybe this can help:

[code]

Has something changed in the API?

[2020-07-08 10:47] saitho commented on #21
Looking at the APi request for my profile that data seems to be gone:
https://owapi.io/profile/pc/eu/saitho-2703

[2020-07-09 15:02] saitho commented on #8
@FriendsOfGalaxy Can you give us any update on the progress of adding the achievements I sent you into the GOG Launcher?

[2020-07-11 19:08] elkangaroo commented on #28
@bartok765 I will create a PR now after I pushed my last WIP changes. I will add what's working and what's not and what needs to be fixed / worked on before this can be merged.

[2020-07-16 21:44] FriendsOfGalaxy commented on #8
No progress so far:(

[2020-07-17 05:08] alfg opened #34 "User Agent"
Hi there,

I'm the maintainer of https://github.com/alfg/overwatch-api, and I noticed you use https://ow-api.io as an integration for your project (Thank you!).

I am curious why you are using the user agent defined at:
https://github.com/bartok765/galaxy_blizzard_plugin/blob/67acdeda76f5b6681939d28004d1e30fc49797c0/src/consts.py#L30

And if it's possible to use a custom user-agent as part of your

[2020-07-18 09:10] bartok765 commented on #34
Hi @alfg

This repo follows @FriendsOfGalaxy work so to be honest no idea, why Firefox agent was used originally.

My guess is the whole auth/refresh flow is imitating a bit complicated browser authentication flow (not what public blizzard API exposes). Maybe it is related?

Why would you like to change it? I guess for https://ow-api.io metrics?

[2020-07-18 20:18] alfg commented on #34
Right. I just noticed a good amount of traffic with that user agent and was curious. But I understand if it's for a complicated auth flow if it cannot be updated.

[2020-08-06 18:26] chrissix666 opened #35 "login loop"
I can successful login into the Battle.net, but after the login window closes ist states "offline - retry", i open the window again and can login.

- Login successful
- But the plugin always left behind "offline - retry"

I also deinstalled and re-installed the plugin several times, without success

[2020-08-06 19:04] elkangaroo commented on #35
Thanks for your report @chrissix666, can you please check if there is any errors in the log file? You can find it here:
- Windows: `%programdata%\GOG.com\Galaxy\logs\plugin-battlenet-*.log`
- MacOS: `/Users/Shared/GOG.com/Galaxy/Logs/plugin-battlenet-*.log`

[2020-08-06 21:40] EnderXH commented on #35
Same issue here. I have no errors in the logs, which is odd.
I'll attach the log , maybe it will be useful.
[plugin-battlenet-ba170431-0649-482f-863b-d248592f1842.log](https://github.com/bartok765/galaxy_blizzard_plugin/files/5038143/plugin-battlenet-ba170431-0649-482f-863b-d248592f1842.log)

[2020-08-07 12:06] Tvdv013 commented on #35
I'm having the same issue
[plugin-battlenet-ba170431-0649-482f-863b-d248592f1842.log](https://github.com/bartok765/galaxy_blizzard_plugin/files/5041237/plugin-battlenet-ba170431-0649-482f-863b-d248592f1842.log)

[2020-08-07 13:47] Gliptal commented on #35
Same issue here.
[plugin-battlenet-ba170431-0649-482f-863b-d248592f1842.log](https://github.com/bartok765/galaxy_blizzard_plugin/files/5041740/plugin-battlenet-ba170431-0649-482f-863b-d248592f1842.log)

[2020-08-07 17:13] elkangaroo commented on #35
Thanks for the log files, the "Backend timed out" is indeed causing this issue).
I am investigating now.

[2020-08-07 17:58] elkangaroo commented on #35
The problem is, after login we send a request to https://eu.account.blizzard.com:443/oauth2/authorization/account-settings which currently times out (almost) always. Timeout is 10 seconds.
I could even reproduce it once on offical battle.net website after login. There seems to be some issues on blizzard servers.

@bartok765 As a workaround I increased the timeout in #36, do you think we can use th

[2020-08-07 20:57] bartok765 commented on #35
Yes, definitely. Is 20sec long enough?

[2020-08-07 21:27] elkangaroo commented on #35
In my tests it was mostly around ~11seconds

bartok765 <notifications@github.com> schrieb am Fr., 7. Aug. 2020, 22:57:

[2020-08-07 21:42] bartok765 commented on #35
Merged. Just tried myself, and one time is below 10, another time more than 10.
I've pushed 1.3.1 version to `fog_release` branch. Leaving the issue open until @FriendsOfGalaxy merge it. Thanks @elkangaroo for quick check.

[2020-08-08 13:18] chrissix666 commented on #35
I have no idea how to update the plugin myself (not a noob but less github experienced)

I just closed Gog Galaxy 2.0 & exchanged the 2 files you updated:
backend.py
http_client.py

Unfortunately it does not change anything, issue still persits.
Looking forward to an official bug fix realease

[2020-08-08 15:12] bartok765 commented on #35
@chrissix666 what you've done should work. Drop your logs please - maybe there is different problem.

[2020-08-08 20:44] bartok765 commented on #35
Update: I've doubled timeout to 40s as it was not enough for me today.

[2020-08-08 22:11] Gliptal commented on #35
I can confirm the latest 40s change fixes the problem.

[2020-08-09 00:01] chrissix666 commented on #35
I can also confirm with the latest changes login is possble again with success. Great thanks, much appreciated!

[2020-08-10 17:56] #35 closed

[2020-08-16 17:57] yoshimo opened #37 "Played Time Tracking, how is it done?"
Does Blizzard not give you time played for World of Warcraft  from the api and you rely on gog starting games through bnet exe and count time running yourself? The WoW Beta seems to be missing entirely from my stats.

[2020-08-17 21:35] bartok765 commented on #37
I've not dig into WoW API yet to be honest. As far as I know there are stats per game character account, so maybe plugin should sum stats from all the characters?

For now, we support only Overwatch for game time tracking + last game time event (to support "recently played").

PR's welcomed

[2020-09-17 10:57] EASK8ER52 opened #38 "Modern Warfare 2 Campaign Remastered not showing up."
Basically this plugin works mostly fine. I got it straight from GOG. Only issue is that Modern Warfare 2 Campaign Remastered doesn't show up in the library. Is there any way to fix this? Is there something that needs to be done that I'm not doing?

[2020-09-22 11:55] yoshimo opened #39 "WoW Classic not marked as Installed"
I have for historic reasons 2 WoW Folders on 2 drives
One for retail and one for PTR/Classic/Beta.
While everything is marked as installed in the battle-net launcher and can be run from there,
GoG marks WoW Classic as not installed.

[2020-09-23 20:34] bartok765 commented on #38
Hey @EASK8ER52 see this issue #24
I had no much time recently. PR welcomed. I'm closing this issue as duplicate

[2020-09-23 20:34] #38 closed

[2020-09-30 12:29] georgehank opened #40 "Games that requires Update shown as not installed"
None of my installed games are shown as installed.

Expected: Duh, of course I'd like my installed games with a "Play" button instead of an "Install" button.

Suspicion: all the games need updates (stupid razznfrazzn Battle.net not updating games if you haven't played them "recently" (whatever that actually means, but I digress)).

Suspicion confirmed: after updating, "Install" changes to "Play".

[2020-11-17 16:02] arnvh opened #42 "COD: BoCW Integration"
Hi there! Not a bug, just wondering if there's an update to add to introduce COD BoCW integration. Thanks!

[2020-11-17 21:46] stubbz00 commented on #42
I was wondering about this as well.  Thank you

[2020-11-18 04:57] HawkSE commented on #42
Waiting for this as well.

[2020-11-22 12:37] BradB111 commented on #42
You can edit the definitions.py file as shown in the pull request if you want changes before they are pushed:
![image](https://user-images.githubusercontent.com/17122433/99903929-81069500-2cbf-11eb-8d84-e727a6f766bd.png)
![image](https://user-images.githubusercontent.com/17122433/99903936-882da300-2cbf-11eb-9bcd-ac7ee864f217.png)

[2020-11-22 19:36] stubbz00 commented on #42
Maybe I'm doing something wrong, but when I edit the definitions.py with Notepad++ the plugin fails to start.  Is there a python script I need to run after making the changes?

[2020-12-02 22:03] CrystalSpore commented on #42
@BradB111 or @stubbz00, since you seem to have it working, could you drop what the additional line would be?

I'm assuming you ad a new line after line 99, & the middle "section" should be `Call of Duty: Black Ops Cold War`, but I have no idea tbh what the left & right segments should be (they seem to be the codenames/project names for the apps)

Thanks for any help :)

[2020-12-02 22:05] CrystalSpore commented on #42
Nvm, just saw that there was this PR https://github.com/bartok765/galaxy_blizzard_plugin/pull/41
I can just mimic this

[2020-12-04 16:36] derrickb commented on #40
Experiencing this as well.

[2020-12-05 10:29] bartok765 commented on #40
that is a bug in the the plugin. I'll fix it when have a time. PR welcomed.

[2020-12-17 21:49] Swatseal commented on #27
This would be awesome. Is there a way to manually specify which one you want to have listed? I own the old anthology as well as remastered, but regular StarCraft is what gets linked. Ideally it would have both, but I understand why it is just pulling one. W3 and W3 Reforged shows both as installed, with the ability to launch both, but SC only shows normal SC and Remastered isn't showing as owned.

[2020-12-17 21:51] Swatseal opened #43 "No Call of Duty: Modern Warfare 2 Campaign Remastered"
Thanks for the integration. I have been unable to get Call of Duty: MW2CR to show up in the integration. Is this possible to show up in the integration?

[2021-01-01 10:01] ybshin5657 opened #44 "Games shown as not installed"
My battle.net games are shown as not installed.

It is shown as installed(play button activated) when I first integrate battle.net to GOG Galaxy.
But if I restart GOG Galaxy, all battle.net games are shown as not installed.

BTW my battle.net games are installed at drive D (CoD MW for example - D:\battle.net\Call of Duty Modern Warfare) but I dont think that matters anyway.

[2021-01-01 10:33] ybshin5657 commented on #44
I've checked the plugin log and it seems like the plugin itself has detected my games correctly.

[code]

[2021-01-03 06:18] Swatseal commented on #44
Having same issue, If I click Install it will quickly recognize the game as installed and show the Play button after the game is launched.

[2021-01-04 16:50] alpharou commented on #44
Same issue for me. Doesn't show as installed until you either disconnect and reconnect the plugin, or click "install" on gog to launch battle.NET, and then all installed games get correctly shown, until restart of gog galaxy 2.

[2021-01-06 00:14] lazerl0rd commented on #44
I can confirm this occurs.

[2021-01-11 01:18] cetinodinson commented on #44
Same symptoms doc. +1

[2021-01-11 21:10] fl4shback commented on #44
Hi!
Crossposting my findings from the same issue in another plugin (https://github.com/urwrstkn8mare/galaxy-riot-integration/issues/10#issuecomment-757483352)

It seems like for some reason, the plugin is skipping the first wave of game imports when Galaxy starts.
I let galaxy run untouched for almost 2 hours and noticed that the games ended up appearing as installed.
Decided to dig through the lo

[2021-01-28 09:13] #40 closed

[2021-02-20 02:43] micpp42 opened #50 "Blizzard Arcade Collection not showing up from plugin"
I got the Blizzard Arcade Collection and while it shows up in the Battle.net client it doesn't seem to be detected by the plugin. I'm guessing you may need to manually add support/detection for this?

[2021-02-20 08:28] yoshimo commented on #50
https://github.com/bartok765/galaxy_blizzard_plugin/blob/master/src/definitions.py contains strings for individual games around line 88 , so we probably need a new string there.
Do you find it on https://account.blizzard.com/api/games-and-subs ?

[2021-02-20 10:29] micpp42 commented on #50
It doesn't show up there, no - at least for me that just seems to list Overwatch and HOTS and Destiny 2.

[2021-02-20 10:40] micpp42 commented on #50
Poking around the Galaxy log, it does look like it's detecting that the game is installed and then essentially going "WARNING - [rtro] is not known blizzard game. Skipping"

If I'm understanding the way definitions.py works we'd just need the short internal name (which it looks like is "rtro") and the magic number to be able to add it - I guess the question is where do the magic numbers come from

[2021-02-23 08:19] bartok765 commented on #50
Hi, does https://github.com/bartok765/galaxy_blizzard_plugin/pull/52 works for you? @jordantram is it available in  https://account.blizzard.com/api/games-and-subs for you?

[2021-02-23 10:34] micpp42 commented on #50
OK, so it doesn't seem to be fully working for me but it's entirely possible I'm doing something wrong or something is funny. Replicating the changes in #52 in my local definitions.py file does make a line about adding the game to my installed games show up in the log - but it does not appear to actually appear in Galaxy.

[plugin-battlenet-ba170431-0649-482f-863b-d248592f1842.txt](https://github.

[2021-02-25 08:52] bartok765 commented on #50
@micpp42 in log I see:
```2021-02-23 21:13:05,623 - root - WARNING - Skipping unknown game with titleId: 114631173```
I suppose it is for Destiny 2 from https://account.blizzard.com/api/games-and-subs ?

[2021-02-25 08:57] bartok765 opened #53 "TypeError: __init__() takes from 2 to 6 positional arguments but 7 were given"
From logs given by @micpp42 in #50

[code]

[2021-02-25 09:04] bartok765 commented on #50
@micpp42 could you take a look for the issue above?

[2021-02-25 09:05] bartok765 commented on #53
For debuging add this

[code]

before
`self.products[ngdp_code] = ProductDbInfo(uninstall_tag, ngdp_code, install_path, version, playable, installed)`
in parsers.py

[2021-02-25 09:40] micpp42 commented on #53
Hi, I think this one is my fault - when I was initially trying to test the pull request I just grabbed the copy of definitions.py from the pull request, but it looks like the version that I got when I clicked "view file" has an extra difference in that it's missing the installed parameter of the ProductDbInfo class - although this doesn't show up in the comparison. I think you can write this up to

[2021-02-25 09:40] micpp42 commented on #50
Yeah, seems to be the titleId listed for Destiny 2 in my games-and-subs

[2021-02-25 09:54] bartok765 commented on #53
Ah I see, no worries, I'm closing :)

[2021-02-25 09:54] #53 closed

[2021-02-25 09:56] bartok765 commented on #50
Is it separate launchable item in battle.net? I see that you can purchase this collection in 3 different packs - but those includes mostly other "extra" in-game benefits for different blizzard games. Could you put a screenshot how it looks in battlenet after purchase?

[2021-02-25 10:10] micpp42 commented on #50
Here's how it shows in battle.net - shows as a separate installable item like any other game
![image](https://user-images.githubusercontent.com/16983501/109137910-e467fd80-77ad-11eb-929d-97ce4ad506e3.png)

![image](https://user-images.githubusercontent.com/16983501/109137968-f0ec5600-77ad-11eb-86d6-30c9c8bd8680.png)

[2021-02-25 11:00] bartok765 commented on #50
ok, thanks. And what do you see in https://account.blizzard.com/games after you login?

if yes can you:
- run devtools Ctrl + Shift + I
- go to Network tab
- filter for XHR
- reload the page
- search though requests to find `arcade` string somewhere or maybe `1381257807`

[2021-02-25 11:04] micpp42 commented on #50
It does not show up on the https://account.blizzard.com/games page for some reason
Yes I think this is weird too

[2021-02-28 11:49] micpp42 commented on #50
Possibly helpful: so when I go to https://account.blizzard.com/transactions and pick the "America" region I can see "The Celebration Collection: Essentials Pack" showing up as a transaction - this is the bundle that included the Arcade collection.

[2021-02-28 22:25] bartok765 commented on #50
Ah, so the same problem as for Activision games: https://github.com/bartok765/galaxy_blizzard_plugin/issues/24

 In logs in %localappdata%/Battle.net/Logs we can see lines like that:
- `[GSAccountProvider] {Main} Querying account level info for account`
- `[GSAccountProvider] {Main} Querying game accounts for region: `
- ...

the latter is about game accounts so probably similar as https://account

[2021-04-28 19:35] nwarrenfl opened #55 "Crash Bandicoot 4 not detected"
Crash Bandicoot 4: It's About Time doesn't get imported in GOG Galaxy.

EDIT:
Made a pull request:
https://github.com/bartok765/galaxy_blizzard_plugin/pull/56

After some searching, I found following JSON object about the game when going to my account:
{
  "titleId": 1464615513,
  "localizedGameName": "Crash Bandicoot™ 4: It’s About Time",
  "gameAccountName": null,
  "gameAccountUniqueId": {

[2021-05-04 13:42] bartok765 commented on #42
I assume it works now? Can I close the issue?

[2021-05-07 09:00] yoshimo commented on #27
I think we could use the shop api

https://eu.shop.battle.net/api/product/starcraft-remastered has blocks like

`        "eligibility": {
            "eligible": true,
            **"owned": false,**
            "upgrade": false,
            "discounted": false
        },`

[2021-05-10 08:48] bartok765 commented on #27
Good finding! We need to ensure we have access with the plugin authorization cookies.

Maybe also #24 and #50 can be solved by checking this API. @yoshimo would you like to implement this? Some refactor will be needed probably.

[2021-05-10 10:08] yoshimo commented on #27
I can supply samples but i'm not a coder
I'm rather optimistic that the linked issues can be solved:

`/api/product/call-of-duty-black-ops-4
/api/product/call-of-duty-modern-warfare-2-campaign-remastered
/api/product/crash-bandicoot-4
/api/product/diablo-ii
/api/product/diablo-ii-lord-of-destruction
/api/product/diablo_ii_resurrected
/api/product/hearthstone-battle-ready-decks
/api/product/hearths

[2021-05-10 13:00] bartok765 commented on #44
Hi, could you please retest the issue? Workaround on plugin side is released already.

[2021-05-10 13:01] bartok765 commented on #55
Closed by #56

[2021-05-10 13:01] #55 closed

[2021-05-14 07:20] fl4shback commented on #44
It seems to me like the workaround if fixing the issue. Thanks!

[2021-05-22 20:50] RejectedGalaxy opened #58 "Can you add a separate entry for World of Warcraft Burning Crusade Classic"
So I'm going to add a 2 in 1 type of issue here, apologies if that isn't allowed.

1. World of Warcraft Classic now has it's own game page where as previously it was only an option you could select under the drop down menu for World of Warcraft. This made it so when you clicked play through GOG Galaxy, all it did was open BNET so you had to select play AGAIN in order to launch the game. Maybe now

[2021-05-22 21:01] RejectedGalaxy opened #59 "Don't see Original Warcraft III"
I don't see the Original Warcraft III in the BNET integration. I don't own reforged but I have the Orginal, have it installed, and it's fully launchable through BNET.

[2021-06-02 13:30] bartok765 commented on #59
@RejectedGalaxy thank you for report,

please attach your bnet logs. You can find them in following locations:

Windows:
%programdata%\GOG.com\Galaxy\logs
most commonly in C:\ProgramData\GOG.com\Galaxy\logs\

macOS:
/Users/Shared/GOG.com/Galaxy/Logs

[2021-06-02 13:31] bartok765 commented on #43
@Swatseal thank you for report,

please attach your bnet logs. You can find them in following locations:

Windows:
%programdata%\GOG.com\Galaxy\logs
most commonly in C:\ProgramData\GOG.com\Galaxy\logs\

macOS:
/Users/Shared/GOG.com/Galaxy/Logs

[2021-07-02 23:12] Swatseal commented on #43
[plugin-battlenet-ba170431-0649-482f-863b-d248592f1842.log](https://github.com/bartok765/galaxy_blizzard_plugin/files/6757394/plugin-battlenet-ba170431-0649-482f-863b-d248592f1842.log)

[2021-08-19 16:02] yoshimo opened #61 "Diablo2 Resurrected not yet visible"
You can pre-order and test Diablo2:Resurrected already.
What would you need to add this to the gog integration to make the cover and the game visible in the galaxy launcher?

[2021-08-29 03:21] nightblade9 commented on #5
I have the same issue today. Game doesn't even show up in GOG even though it's installed and updated. Are there any updates on this issue?

[2021-09-22 08:46] #61 closed

[2021-09-23 20:20] Kinematic9 opened #64 "Diablo 2 Resurrected not showing on GOG list"
Diablo 2 resurrected installed via Battle.net is not populating on GOG.

[2021-09-23 20:39] HawkSE commented on #64
Same here, looks like it needs to be added in order to show-up.

[2021-09-24 07:17] bartok765 commented on #5
Hi @nightblade9 , not yet, I need to find some time to dig into that with the info provided by @Gelean .. Im sorry about that, not much time recently.

[2021-09-24 12:55] nightblade9 commented on #5
No worries, something happened (I'm not sure what) and now the game appears normally for me.

[2021-09-24 14:15] bartok765 commented on #5
Does it appear as playable if it is installed?

[2021-09-24 14:21] nightblade9 commented on #5
Yes, I can launch and play it fine. I wonder if it was just an issue with synching games (GOG Galaxy seems to have those issues, even with other plugins).

[2021-09-24 19:29] HawkSE commented on #64
Fixed with 1.4.2 release: https://github.com/FriendsOfGalaxy/galaxy-integration-blizzard/releases/tag/1.4.2

[2021-10-26 19:45] yoshimo opened #66 "Diablo2: resurrected marked owned and added to recent games, but not actually owned"
**Describe the bug**
In the Galaxy client, diablo 2: resurrected is marked as owned and was added to the recent games list.
It was installed during the beta weekend (which would explain the entry in the recent games list)
I uninstalled the beta, the "recent game" entry won't be removed.
If that is intended, debatable.
BUT:
it is still marked as owned and ready for install.

![grafik](https://user-

[2021-11-02 20:27] BradB111 opened #67 "Plugin losing authentication"
**Describe the bug**
Plugin often loses authentication causing a login approx. once per 24 hours

**To Reproduce**
Wait 1-2 days

**Expected behaviour**
For the plugin to not lose authentication.

**Attached logs**
Let me know if any are required and which ones required if so.

[2021-11-06 21:37] Curotos opened #68 "Call of Duty Vanguard"
Vanguard has not been added to GOG yet but I saw last year for cold war there is a way to manually enter a code into the Definitions.py file and was wondering what the format would be to add vanguard

[2021-11-06 23:49] Kinematic9 commented on #68
I think it was mentioned here: https://github.com/bartok765/galaxy_blizzard_plugin/issues/42

I also don't see it yet on my end, assuming they will push it out soon.

[2021-11-07 12:02] BradB111 commented on #68
I managed to add this with the following:

![image](https://user-images.githubusercontent.com/17122433/140644038-83459c76-ab8f-480e-a002-c9cf42d7bace.png)

I will try and make a PR

[2021-11-07 23:04] Curotos commented on #68
I added the two vanguard lines as well as the commas on the line beforehand, is there anything else I would be missing because it still does not show up?

[2021-11-07 23:08] BradB111 commented on #68
Make sure the lines are exact, you have added commas to the lines above and that you have disconnected the plug-in in the settings and then reconnect.

[2021-11-08 20:59] bartok765 commented on #67
Hi @BradB111,

I have no repro, please attach battlenet logs from C:\ProgramData\GOG.com\Galaxy\logs
Those with extension `log` and `log.0`

[2021-11-08 21:00] #68 closed

[2021-11-08 21:15] bartok765 commented on #66
Unfortunately distinction between different game versions is not supported in current  plugin architecture.

As you see - we rely on ACCOUNTS API which does not provide information on which game version you played/created the account.

This information is available locally on battlenet config, but it is something we rely about status of installed game. We can't rely on this to show ownership becau

[2021-11-08 21:25] bartok765 opened #71 "Transfer to organization"
Hi folks,

my maintenance of this plugin sadly won't be continued, so I got an idea to share this repository with more people that have write access by transferring it into the GitHub organization.

What do you think? What should I remember about for transition? What you like to be added?

I'm marking all former contributors:
@vlad-glint
@FriendsOfGalaxy
@felipeparaujo
@BradleyPJ
@Stanzilla
@pierg

[2021-11-08 21:26] yoshimo commented on #66
The funny thing is, if you install it that way, the game seems to run properly at first, then detects you haven't logged in in the last 30 days, tries to establish a bnet connection and fails with an unknown error.
Doesn't tell you that you maybe need to buy the game.

[2021-11-08 21:40] saitho commented on #71
I'm not using GOG Galaxy myself anymore.
Mainly because they never integrated the Overwatch achievements I sent them or ever got back to it.
So I stopped following updates on the GOG Galaxy client and won't maintain this plugin either. ^^

[2021-11-15 21:08] BradB111 commented on #67
This seems to have been resolved after manually deleting the plugin and redownloading via the GOG Galaxy client

[2021-11-15 21:08] #67 closed

[2021-11-18 22:29] bartok765 commented on #71
yup, I see. Similar thing happens with #33
Anyone else?

[2022-05-05 08:48] SpCy-Alex opened #73 "Battle Net doesn t track my games time"
I have BattleNet since 4 or more years but doesnt track my game time, All other game integrations work perfectly but BTN doesnt track

[2022-06-03 15:30] HawkSE opened #74 "Diablo Immortal not recognized as a Battle.net game"
Diablo Immortal released in Open Beta on PC, but Galaxy isn't picking it up as a game. It's in the database, but listed as "Other".

[2022-10-20 06:20] asherett commented on #42
COD: BOCW is currently "recognized" (as in, owned), but Galaxy doesn't see if it's installed or not, doesn't see achievements, doesn't see if you're playing it, doesn't see playtime etc. So it's not working correctly in 1.4.3.0